{% extends "../../core/template/template.html" %}

{% block content %}
<style>
    .styles {
        max-width: 30em;
        margin: 0 auto;
        padding: 1em;
    }

    section {
        margin-bottom: 2em;
    }
</style>
<section class="styles">
    <h1>Style guide</h1>
    <section id="table-of-contents">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#typography">Typography</a></li>
            <li><a href="#buttons-links">Buttons and Links</a></li>
        </ul>
    </section>
    <section id="typography">
        <h2>Typography</h2>
        <h1>Heading 1 style</h1>
        <h2>Heading 2 style</h2>
        <h3>Heading 3 style</h3>
        <h4>Heading 4 style</h4>
        <h5>Heading 5 style</h5>
        <h6>Heading 6 style</h6>
        <br>
        <p><b>B element - For a heavier font-weight.</b></p>
        <p><strong>Strong or B element - For emphasizing a snippet of text with a heavier font-weight.</strong></p>
        <p><em>em - for emphasizing a snippet of text with italics.</em></p>
        <p>
            Sed ullamcorper, felis eu aliquet fermentum, est eros aliquam sapien, non tristique elit nibh vitae
            nulla. Maecenas augue felis, elementum porttitor pulvinar vitae, molestie sed ante. Nunc felis elit,
            scelerisque eget sagittis ac, convallis in mi. Integer in tellus in erat porttitor facilisis. Interdum
            et malesuada fames ac ante ipsum primis in faucibus. Maecenas at pellentesque mauris, in scelerisque
            nulla. Proin efficitur neque ac lectus viverra, et rutrum neque facilisis. Quisque mattis nisi in quam
            tempus porttitor. Mauris quis velit nisi. Nulla ac metus ligula. Etiam sit amet sagittis elit. Etiam sit
            amet tristique augue, in consequat ante.
        </p>
        <p>Some <sub>subscript</sub> and some <sup>superscript</sup></p>
    </section>
    <section id="buttons-links">
        <h2>Buttons and Links</h2>
        <p>
            <button class="button-blue" type="button">Blue Button</button>
            <button class="button-blue" type="button" disabled>Blue Button (disabled)</button>
        </p>
        <p style="background-color: #1295FF; padding: 1em;">
            <button class="button-white" type="button">White Button</button>
            <button class="button-white" type="button" disabled>White Button (disabled)</button>
        </p>
        <p>
            Some inline <button class="button-link" type="button">button as link</button> and some
            <button class="button-link" type="button" disabled>button as link (disabled)</button>
        </p>
        <p>
            <a href="">Default link</a>
        </p>
    </section>
    <section id="lists">
        <h2>Lists</h2>
        <h3>Unordered list</h3>
        <ul>
            <li>Alpha</li>
            <li>Beta</li>
            <li>Charlie</li>
            <li>Delta</li>
        </ul>
        <h3>Ordered list</h3>
        <ol>
            <li>Alpha</li>
            <li>Beta</li>
            <li>Charlie</li>
            <li>Delta</li>
        </ol>
    </section>
</section>
{% endblock %}
