{% extends "core/template/template.html" %}

{% block head %}
<title>Luka</title>
{% endblock %}

{% block content %}
<div class="index">
    {% include "components/header/header.html" %}
    <main>
        <section class="index-section is-two-column">
            <div class="index-panel-img">
                <div class="index-intro-image" style="background-image: url(assets/images/person-couch.svg)">
                    <img class="index-img-dialog" src="assets/images/dialog.svg" alt="">
                </div>
            </div>
            <div class="index-panel-text is-centered">
                <h1 class="index-title">No te preocupes más por tus facturas de servicios o por olvidar un pago</h1>
                <p>Hablando con Luka puedes pagar todos tus servicios por Facebook Messenger</p>
                <a class="index-anchor-cta button-blue" href="/register.html">Comenzar</a>
            </div>
        </section>
        <section class="index-section is-two-column">
            <div class="index-panel-text">
                <h1 class="index-title">Todas tus facturas organizadas en un solo lugar</h1>
                <p>Olvida de hacer largas filas o esperar en el teléfono. Agrega y maneja todas
                    las cuentas pendientes desde Luka.</p>
            </div>
            <div class="index-panel-img">
                <img class="index-img-coffee" src="assets/images/smartphone-coffee.svg" alt="">
            </div>
        </section>
        <section class="index-section is-two-column">
            <div class="index-panel-text is-swapped">
                <h1 class="index-title">Nos encargamos de tus pagos todos los meses del año</h1>
                <p>Maneja tus finanzas en cualquier lugar del  globo que te encuentres</p>
            </div>
            <div class="index-panel-img">
                <img class="index-img-notebook" src="assets/images/notebook.svg" alt="">
            </div>
        </section>
        <section class="index-features-section">
            <h1 class="index-features-title">Todo lo que necesitas de tus servicios con Luka</h1>
            <ul class="index-feature-list">
                <li class="index-feature-item">
                    <img class="index-feature-item-img" src="assets/images/fines.svg">
                    <div class="index-feature-item-title">
                        No más multas
                    </div>
                    <div class="index-feature-item-text">
                        Paga tus deudas instantáneamente y evita el corte de tus servicios y evita el corte de tus servicios.
                    </div>
                </li>
                <li class="index-feature-item">
                    <img class="index-feature-item-img" src="assets/images/clock.svg">
                    <div class="index-feature-item-title">
                        Ahorra Tiempo
                    </div>
                    <div class="index-feature-item-text">
                        ¿Cansado de perder tiempo en pagar? Luka es rápido y fácil de configurar.
                    </div>
                </li>
                <li class="index-feature-item">
                    <img class="index-feature-item-img" src="assets/images/lock.svg">
                    <div class="index-feature-item-title">
                        Transacciones Seguras
                    </div>
                    <div class="index-feature-item-text">
                        Usamos tecnología de blockchain para procesar tus transacciones. Cada pago es cifrado y tokenizado.
                    </div>
                </li>
                <li class="index-feature-item">
                    <img class="index-feature-item-img" src="assets/images/money.svg">
                    <div class="index-feature-item-title">
                        Construye tu Crédito
                    </div>
                    <div class="index-feature-item-text">
                        Mantente al dia con tus cuentas y accede a más préstamo.
                    </div>
                </li>
                <li class="index-feature-item">
                    <img class="index-feature-item-img" src="assets/images/sliders.svg">
                    <div class="index-feature-item-title">
                        Asesoría Financiera
                    </div>
                    <div class="index-feature-item-text">
                        Nosotros aprendemos de tus hábitos y te ayudamos a administrar tu dinero de una mejor forma.
                    </div>
                </li>
                <li class="index-feature-item">
                    <img class="index-feature-item-img" src="assets/images/chat.svg">
                    <div class="index-feature-item-title">
                        Paga con un mensaje
                    </div>
                    <div class="index-feature-item-text">
                        Paga desde Facebook messenger o a traves SMS.
                    </div>
                </li>
            </ul>
            <div class="index-cta-title">
                <div class="index-cta-title">
                    No olvides ni un pago más, descubre a Luka
                </div>
                <a class="index-anchor-cta button-blue" href="register.html">Comenzar</a>
            </div>
        </section>
    </main>
</div>
{% include "components/footer/footer.html" %}
{% endblock %}