.header {
  padding: 12px;
  border-bottom: 1px solid $grey-lighter;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.15);

  &-container {
    @include container();
  }

  &-logo {
    width: 75px;
    vertical-align: middle;
  }

  &-list {
    width: 100%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  &-item {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-of-type) {
      margin-right: $margin-default;
    }
  }

  /* override core styles */
  &-anchor {
    color: $grey-darker;

    &:visited {
      color: $grey-darker;
    }

    &:hover {
      color: $black
    }

    &.is-active {
      color: $blue;
    }
  }

  @media(min-width: $media-s) {

    & {
      padding: $padding-default;
    }

    &-item {

      &:not(:last-of-type) {
        margin-right: $margin-large;
      }
    }
  }
}