<header role=”banner”>
    <nav>
        <ul class="header-list">
            <li class="header-item">
                <a href="/">
                    <img class="header-logo" src="assets/images/luka-logo.svg" alt="Home">
                </a>
            </li>
            <li class="header-item">
                <a href="/lukatag.html">Lukatag</a>
            </li>
            <li class="header-item">
                <a href="/about.html">About Us</a>
            </li>
        </ul>
    </nav>
</header>