<footer class="footer" role="contentinfo">
    <div class="footer-panel">
        <div class="footer-title">¿Tienes alguna duda especifíca?</div>
        <p>Habla con nosotros a traves de éste email:
            <a href="mailto:soporte@luka.io">soporte@luka.io</a>
        </p>
        <a href="https://www.facebook.com/HolaLuka/">
            <img class="footer-icon" src="assets/images/icon-facebook.svg" alt="">
        </a>
        <a href="terms.html">Terms and conditions</a>
        <div class="footer-copyright">
            © Luka <script>document.write(new Date().getFullYear())</script>
        </div>
    </div>
    <div class="footer-panel">
        <div class="footer-title">Suscríbete y recibe actualizaciones</div>
        <p>Enviaremos emails siempre que tengamos nuevas actualizaciones</p>
        <form class="footer-form">
            <input class="footer-input" type="text">
            <button class="button-white" type="submit">Suscribir</button>
        </form>
    </div>
</footer>