.button-green,
.button-orange,
.button-blue,
[role="button"] {
  display: inline-block; /* required for styling <a> as button */
  height: $form-element-height;
  margin: 0; /* Remove the margin in Firefox and Safari. */
  padding: 0 1em;
  border: 1px solid transparent;
  border-radius: $border-radius-default;
  box-shadow: 0 2px 0 0 $blue;
  font-family: $body-font;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none; /* Remove the inheritance of text transform in Firefox. */
  text-align: center;
  user-select: none;
  color: white;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible; /* Show the overflow in Edge. */
  /* required for styling <a> as button */
  line-height: 3; /* equal to form element height */
  text-decoration: none;

  &::-moz-focus-inner {
    /* Remove the inner border and padding in Firefox. */
    border-style: none;
    padding: 0;
  }

  &:active {
    background-image: none;
  }

  &.is-disabled, /* for anchors styled as buttons */
  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

button.button-green {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
}

.button-blue {
  background-color: $blue;
  color: white;

  /* for <a> styled as button */
  &:visited {
    background-color: $blue;
    color: white;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    color: white;
  }
}

.button-link {
  display: inline;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  color: $blue;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

/*
 * Anchors
 */

a {
  color: $blue;
  text-decoration: none;

  &:visited {
    color: $blue;
  }

  &:hover {
    color: $blue-dark;
  }
}