@font-face {
  font-family: 'Rubik';
  src: local('Rubik Regular'),
  url('fonts/Rubik-Regular.woff2') format('woff2'),
  url('fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Italic'),
  url('fonts/Rubik-Italic.woff2') format('woff2'),
  url('fonts/Rubik-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Medium'),
  url('fonts/Rubik-Medium.woff2') format('woff2'),
  url('fonts/Rubik-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: $body-font;
  font-size: 100%; /* browser's font-size setting */
  line-height: $body-line-height;
  color: $body-font-color;
  font-feature-settings: "kern", "liga";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* first, define the heading styles as mixins */
@mixin heading() {
  font-family: $heading-font;
  font-weight: bold;
  color: $heading-font-color;
}

@mixin h1() {
  @include heading();
  font-size: 2rem;
}

@mixin h2() {
  @include heading();
  font-size: 1.75rem;
}

@mixin h3() {
  @include heading();
  font-size: 1.5rem;
}

@mixin h4() {
  @include heading();
  font-size: 1.25rem;
}

@mixin h5() {
  @include heading();
  font-size: 1.125rem;
}

@mixin h6() {
  @include heading();
  font-size: 1rem;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}

h5 {
  @include h5();
}

h6 {
  @include h6();
}