@font-face {
  font-family: 'Rubik';
  src: local('Rubik Regular'),
  url('fonts/Rubik-Regular.woff2') format('woff2'),
  url('fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Italic'),
  url('fonts/Rubik-Italic.woff2') format('woff2'),
  url('fonts/Rubik-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik Medium'),
  url('fonts/Rubik-Medium.woff2') format('woff2'),
  url('fonts/Rubik-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Rubik', sans-serif;
}
